*{
    padding:0;
    margin:0;
}

body{
    background:black;
}

main{
    width:calc(75% - 60px);
    float:left;
    padding:30px;
    background:white;
}
aside{
    width:calc(25% - 60px);
    float:left;
    border-left: none;
    padding:30px;
    background:white;
}
footer{
    clear:both;
    padding:30px;
    background:white;
}

.logoContainer{
    float:left;
    width:200px;
}

.logoContainer .logo{
    max-width:100%;
}

nav{
    float:right;
}

ul{
    list-style-type: none;
    background:red;
}

li{
    display:inline-block;
    padding:10px 20px;
}

li:hover{
    background:green;
}

nav li a{
    color:white;
}

li.active{
    background:goldenrod;
}

.clearfix{
    clear:both;
}

.heroImage{
    width:100%;
}

.heroImage .imageContainer{
    height:300px;
    max-height:300px;
    background-image:url(https://bandonthewall.org/app/uploads/1978/06/The-Fall-70s.jpeg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:0-100px;
    position:relative;
}

.heroImage .imageContainer .imageCaption{
    position:absolute;
    padding:20px;
    background:black;
    color:white;
    bottom:30px;
    left:30px;
}

.mainContentContainer{
    max-width:900px;
    margin:0 auto;
    background:white;
}